.booklistFooter {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
   z-index: 1;
   width: min(100rem, 100%);
   background: var(--bg-color--secondary);
}

.footerTop {
   width: 100%;
   color: var(--font-color--accent);
}

.footerBottom {
   display: flex;
   padding: 1rem;
   justify-content: space-between;
}

.bookCount {
   font-weight: 600;
}

.footerItem {
   cursor: pointer;
}

.footerItem:hover {
   text-decoration: underline;
}

@media only screen and (max-width: 550px) {
   .footerBottom {
      flex-direction: column;
      padding-left: 1.5rem;
   }
}
