.libraryPageWrapper {
   position: relative;
   width: min(60rem, 100%);
   display: flex;
   flex-direction: column;
   margin: 5vh auto;
   gap: 5rem;
   padding: 0 1rem;
}

.libraryPageHeader {
   width: 100%;
   font-family: var(--font-family--header);
   color: var(--font-color--primary);
   text-decoration: underline;
   font-size: 2rem;
   text-align: center;
   display: flex;
   justify-content: center;
}
