.booklist {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   border-radius: 1rem;
   gap: 1rem;
}

.body {
   position: relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   overflow: hidden;
   width: 100%;
   height: 187px;
   gap: 3rem;
   padding: 3rem;
   z-index: 0;
   background: var(--bg-color--secondary);
}

@media only screen and (max-width: 485px) {
   .booklist {
      box-shadow: none;
   }

   .body {
      background: var(--bg-color--primary);
      box-shadow: none;
   }
}
