.header {
   width: min(60rem, 100%);
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.headerTop {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   font-family: var(--font-family--header);
   font-size: 100px;
   line-height: 115px;
   text-align: justify;
   color: #707070;
}

.navigationWrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
}

.navigation {
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 0 1rem;
   margin: 1rem 0;
}

.navLink {
   text-align: center;
   font-weight: 500;
   font-size: 1.4rem;
   color: var(--davys-grey);
   font-family: Century Gothic, sans-serif;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   gap: 1rem;
   cursor: pointer;
}

.navLink:hover {
   text-decoration: underline;
}

.signUp {
   color: var(--spanish-viridian);
}

#currentLocation {
   border-bottom: 1px solid var(--davys-grey);
}

.icon {
   width: 1.7rem;
   height: 1.7rem;
}

@media only screen and (max-width: 605px) {
   .logo {
      font-size: 16.5vw;
      line-height: 20vw;
   }
}
