.loginPageWrapper {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: min(60rem, 100%);
   margin: 0 auto;
}

.loginInner {
   width: min(35rem, 100%);
   margin: 0 auto;
   gap: 3rem;
   display: flex;
   flex-direction: column;
   border-radius: 2rem;
}

.header {
   width: 100%;
   height: 8rem;
   gap: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: var(--font-family--header);
}

.selected {
   color: var(--davys-grey);
   border-bottom: 1px solid var(--bg-color--secondary);
   height: 100%;
   font-size: 1.7rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   text-decoration: underline;
}

.unselected {
   color: var(--davys-grey);
   border-bottom: 1px solid var(--bg-color--secondary);
   height: 100%;
   font-size: 1.7rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
}

.login:hover,
.register:hover {
   text-decoration: underline;
}

.body {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

@media only screen and (max-height: 856px) {
   .loginPageWrapper {
      padding: 2vh 0;
   }
}
