.homePageWrapper {
   width: min(60rem, 100%);
   height: auto;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: var(--font-family--default);
   font-size: 1.3rem;
}

@media only screen and (max-width: 450px) {
   .homePageWrapper {
      padding-top: 0;
      padding-bottom: 0;
   }
}
