.searchPageWrapper {
   position: relative;
   display: flex;
   width: min(60rem, 100%);
   gap: 1rem;
   margin: 3vh auto;
   justify-content: space-between;
   flex-direction: column-reverse;
   align-items: center;
}

.searchWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem;
   padding: 1vh 0;
}

.searchFilterWrapper {
   position: relative;
   background: var(--bg-color--primary);
   display: flex;
   justify-content: center;
   width: min(60rem, 95%);
}

.searchFilter {
   display: flex;
   height: 4rem;
   border-radius: 3.5rem;
   padding: 0 2rem;
   box-shadow: var(--box-shadow--emboss);
   width: 100%;
   height: 4rem;
   gap: 3rem;
   justify-content: flex-start;
   align-items: center;

   margin-bottom: 2vh;
}

.searchFilterRow {
   cursor: pointer;
}

.searchFilterRow:hover {
   text-decoration: underline;
}
/* 
@media only screen and (max-width: 1245px) {
   .searchPageWrapper {
      flex-direction: column-reverse;
      align-items: center;
   }

   .searchWrapper {
      align-items: center;
   }

   .searchFilterWrapper {
      display: flex;
      justify-content: center;
      width: min(65rem, 95%);
   }

   .searchFilter {
      width: 100%;
      flex-direction: row;
      height: 4rem;
      gap: 3rem;
      justify-content: flex-start;
      margin-bottom: 2vh;
   }
} */
